.UserOutput {
    width: 60%;
    margin: auto;
    border: 1px solid rgb(84, 15, 175);
    box-shadow: 0 2px 3px rgb(18, 182, 32);
    padding: 16px;
    text-align: center;
}

@media (min-width: 500px) {
    .UserOutput {
        width: 450px;
    }
}